pytorch-lightning>=1.8.0
hydra-core<2.0
hydra_colorlog<2.0
wandb<1.0
rich
pandas>=2.0
transformers>=4.34
datasets>=2.14
spacy>=3.7
jsonlines<5.0.0
scipy>=1.10
sentencepiece>=0.1.99
protobuf==3.20
nltk<4.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
